

.faq-listing {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 10px 10%;
}

@media screen and (max-width: 768px) {
    .faq-listing {
        width: 100%;
        margin: 0%;
    }
}

.steps-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.single-step {
    background: #ffffff;
    padding: 40px 20px;
    margin: 0 1.5rem;
    width: calc(45% - 6rem);
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0);
            box-shadow: 0 5px 10px rgba(0,0,0,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.single-step:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.04);
            box-shadow: 0 10px 20px rgba(0,0,0,.04);
}
.single-step h6 {
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
    color: #0071bc;
    line-height: 1.5;
}
.single-step-img img {
    padding: 30px 20%;
}

@media screen and (max-width: 960px) {
    .single-step {
        margin: 0 1rem;
        width: calc(50% - 4rem);
    }
}

@media screen and (max-width: 768px) {
    .single-step {
        margin: 0 1.5rem;
        width: calc(100% - 6rem);
    }
}

@media screen and (max-width: 480px) {
    .single-step {
        margin: 0 0;
        width: 100%;
    }
}

.accordion {
    background: #f0f7ff;
    padding: 15px 30px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: left;
    border: 2px solid #f0f7ff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.accordion:hover, 
.accordion.is-open {
    border: 2px solid #0071bc;
}
.accordion p {
    padding-right: 60px;
}
.accordion i {
    position: absolute;
    right: 30px;
    height: auto;
    top: calc(50% - 8px);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordion.is-open i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 30px;
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}